.Projects {
  /* border: solid black; */
  width: 100%;
}
.Projects h2 {
  text-align: center;
}
.projectContainer {
  /* border: solid black; */
  width: 100%;
  /* height: auto; */
  /* display: inline-block; */
  /* padding-top: 20px; */
  margin-bottom: 20px;
  box-shadow: 3px 3px 5px 2px #d6d6d6;
  /* margin: 8px; */
  text-align: center;
  /* border: solid black 1px; */
}

.Ptitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 18px;
  width: 100%;
  display: inline-block;
}

/* .projectContainer { */
  /* border: solid black; */
  /* width: 100%; */
  /* height: auto; */
  /* margin-right: 20px;
      margin-left: 10px;
      margin-bottom: 10px; */
  /* text-align: center; */
  /* display: inline-block; */
/* } */

.Pimg {
  width: 47%;
  /* height: 100%; */
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.Pimg img {
  width: 100%;
}
.Pimg img:hover {
  transform: scale(1.1);
  position: relative;
  transition: all 0.1s ease-in;
}
.Pinfo {
  width: 47%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  font-family: "Calibri", Times, serif;
  word-wrap: break-word;
  vertical-align: top;
}

.Pbottom {
  /* border: solid black; */
  padding: 2px;
  margin: 2px;
  width: 100%;
  display: inline-block;
}

.PbottomLinks {
  display: inline-block;
  width: 45%;
  text-align: center;
  padding-right: 10px;
}
.PbottomLinks a {
  /* padding-left: 10%;
      padding-right: 5%; */
  width: 50%;
  display: inline-block;
  /* border-radius: 50%; */
}
.PbottomLinks a img {
  width: 25px;
  height: auto;
  display: inline-block;
}
.Pstacks {
  width: 45%;
  display: inline-block;
  padding-left: 15px;
}

.Pstacks li {
  display: inline-block;
  padding: 3px 3px;
  margin-right: 12px;
  border-radius: 20%;
  color: black;
  background-color: rgb(201, 201, 201);
}
