.header {
  /* width: 467px; */
  width: 100%;
  height: auto;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.125);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  background-color: rgb(137, 190, 211);
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  /* text-align: center; */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), */
  background-image: url("https://jv-portfolio-assets.s3.us-east-2.amazonaws.com/Images/header/banner.jpg");
  background-size: cover;
  /* margin-top: 30px; */

  color: white;
  font-size: 20px;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;

  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.header ul {
  /* border: solid black; */
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

.header li {
  display: inline-block;
  /* width: 100%; */
}

.header li a {
  display: block;
  /* text-align: center; */
  padding: 16px 16px;
  text-decoration: none;
  /* font-family: "Calibri", Times, serif; */
  /* font-size: 20px; */
}
.headername {
  /* border: solid black; */
  width: 100%;
  display: inline-block;
  color: white;
  font-size: 20px;
  font-family: "Calibri", Times, serif;
  padding-bottom: 2px;
  text-align: center;

  /* color: white; */
  /* font-size: 20px; */
}

@media only screen and (min-width: 992px) {
  .headername {
    font-size: 25px;
  }
}

.header .list {
  width: 100%;
  text-align: center;
}
.header li img {
  width: 50px;
}

.header li img:hover {
  transform: scale(1.8);
  position: relative;
  transition: all 0.1s ease-in;
}
