.menu {
  width: 100%;
  height: 75px;
  font-size: 40px;
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  background: rgb(21, 28, 34);
  /* position: fixed; */
  /* z-index: 10; */
  display: inline-block;
}
.desktopMenu {
  display: none;
}

@media only screen and (min-width: 992px) {
  .desktopMenu {
    display: inline-block;
    width: 100%;
  }
}

.mobileMenu {
  width: 100%;
  font-size: 50px;
  z-index: 10;
}

@media only screen and (min-width: 992px) {
  .mobileMenu {
    display: none;
  }
}

.menuName {
  float: left;
  color: white;
  font-family: "Calibri", Times, serif;
  font-size: 20px;
  padding: 20px 24px;
}

.desktopMenu ul {
  list-style-type: none;
  margin: 0;
  padding: auto;
  overflow: hidden;
  /* background-color: #333; */
  float: right;
}

.desktopMenu li {
  display: inline-block;
}

.desktopMenu li a {
  display: block;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
  color: white;
  font-family: "Calibri", Times, serif;
  font-size: 20px;
}

/* Change the link color to #111 (black) on hover */
.desktopMenu li a:hover {
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: white;
}

.dropbtn {
  /* font-size: 16px;   */
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: "Calibri", Times, serif;
  font-size: 20px;
  margin: 0;
}

.dropbtn:hover {
  background-color: white;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  /* border: solid white; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  /* color: black; */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: solid black;
}

.dropdown-content a:hover {
  background-color: rgb(153, 153, 153);
}

.dropbtn:hover .dropdown-content {
  display: block;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .mobileMenu .dropbtn {
    display: none;
  }
}
