.skillBlock {
  width: 95%;
  height: auto;
  margin: auto;
  text-align: center;
  /* display: inline-block; */
  background-color: white;
  box-shadow: 3px 3px 5px 5px #eeeeee;
  margin-bottom: 30px;
  padding-bottom: 10px;
  /* margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 50px; */
}

@media only screen and (min-width: 992px) {
  .skillBlock {
    /* margin: auto; */
    margin-right: 10px;
    margin-left: 10px;
    width: 33%;
    height: 550px;
    font-size: 26px;
    display: inline-block;
  }
}

.skillBlock img {
  width: 30%;
  margin: 12px;
}

.skillType {
  width: 100%;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .skillType {
    font-size: 30px;
  }
}

.skillName {
  width: 100%;
}
.dataUL {
  width: 100%;
  /* padding-right: 15%; */
  padding-left: 2px;
}
.dataUL li {
  /* width: 100%; */
  text-align: left;
  margin-left: 20%;
  margin-bottom: 2px;
  /* margin-right: 20%; */
  /* display: inline-block; */
  list-style: none;
}

.dataUL li span {
  width: 100%;
  content: "\2713";
  /* padding-right: 15px; */
  /* padding-left: 40px; */
}
