.skills {
  width: 100%;
  background-color: rgb(247, 247, 247);
  /* padding-top: 50px; */
  padding-bottom: 50px;
}
.skills h1 {
  text-align: center;
}

.skillContainer {
  width: 100%;
  /* box-sizing: border-box; */
  background-color: rgb(247, 247, 247);
  display: flex;
}

.skillBlock {
  width: 25%;
  text-align: center;
  /* border: solid black; */
  display: inline-block;
  padding-top: 20px;
  /* padding-bottom: 30px; */
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  box-shadow: 3px 3px 5px 5px #eeeeee;
}

.skillBlock img {
  max-width: 100%;
  width: 20%;
  margin: 12px;
}

.skillName {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.dataUL {
  /* width: 100%; */
  padding-right: 15%;
  padding-left: 20%;
}
.dataUL li {
  /* width: 100%; */
  text-align: left;
  margin-left: 20%;
  margin-bottom: 2px;
  /* margin-right: 20%; */
  /* display: inline-block; */
  list-style: none;
}

.dataUL li span {
  width: 100%;
  content: "\2713";
  /* padding-right: 15px; */
  /* padding-left: 40px; */
}
